{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block styles %}
<style>
    .table td i {
        font-size: 24px; /* Adjust the icon size as needed */
        vertical-align: middle; /* Align icons vertically */
    }

    .table td {
        border: none; /* Remove table cell borders */
    }
</style>
{% endblock %}

{% block content %}

<br>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3773.5557815034745!2d72.8342253739476!3d18.951046755885894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cf66252cae7d%3A0x3c2b2d2300068696!2sJagruti%20Co%20Op%20Credit%20Society%20Limited!5e0!3m2!1sen!2sin!4v1710759632295!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-6">
          <h1 class="text-center">Contact us</h1><br>
            <table class="table">
                <tbody>
                    <tr>
                        <td><i class="fab fa-whatsapp"></i></td>
                        <td>WhatsApp</td>
                        <td>+1234567890</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-envelope"></i></td>
                        <td>Email</td>
                        <td>jagruticrsty1977@gmail.com</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-phone-alt"></i></td>
                        <td>Contact No</td>
                        <td>022-46010009</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>8591087649</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>9987676403</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
